<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href = '/stylesheets/style.css'/>


  </head>
  <body>

    <h2>Sonsoles López Pernas</h2>
    <p>Grupo 33</p>

    <div >
      
        <img align="center" id="main" align="center" padding="20" width="300" height ="400" src="/images/lafoto.jpg">
      
      <iframe id="main" align="center" width="533" padding="20" height="400" src="https://www.youtube.com/embed/aNkpabIa6hM?list=PLo4CW_btA6oaxJ08NG0Pn_Qx2HY3Rq36T" frameborder="0" allowfullscreen></iframe>
     </div>
     <br></br>
    
  </body>
</html>
