<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href = '/stylesheets/style.css'/>


  </head>
  <body>

    <h2>Sonsoles López Pernas</h2>
    <p>Grupo 33</p>

    <div >
      
       <img name="me0" align="center" class="yo" id="main" align="center" style="margin:20px;padding=20px;" width="300"  USEMAP="#me" src="/images/me.jpg">
    
      <MAP NAME="me">
      <AREA SHAPE="rect" COORDS="3,5,37,36" HREF="https://es.linkedin.com/in/sonsoleslopezpernas" TARGET="_blank" TITLE="Pefin de Linkedin">
      <AREA SHAPE="circle" COORDS="19,56,16" HREF="https://github.com/sonsoleslp" TARGET="_blank" TITLE="Perfil de GITHUB">
      <AREA SHAPE="rect" COORDS="4,78,36,101" HREF="http://poynting.neocities.org" TARGET="_blank" TITLE="Sitio web personal">
      <AREA SHAPE="rect" COORDS="4,109,37,130" HREF="mailto:sonsoles.lopez.pernas@alumnos.upm.es" TITLE="Correo electrónico">
      </MAP>

      <iframe id="main" class="video" align="center" style="margin:20px;padding=20px;" src="https://www.youtube.com/embed/aNkpabIa6hM?list=PLo4CW_btA6oaxJ08NG0Pn_Qx2HY3Rq36T" frameborder="0" allowfullscreen></iframe>
     </div>
    
     <div class="mapa">

     <br>
 <br></br>
     <br>
     <br>
    
  </body>
</html>
