<!DOCTYPE html>
<html>
  <head>

  </head>
  <body><p></p>
  <br>
  <br>
  
<form method ="get" action="/quizes/<%= quiz.id%>/answer">
		Pregunta:   <%=quiz.pregunta%> <p></p>
		<input type="text" name="respuesta" value="Respuesta"/>
		<input type = "submit" value="Enviar">
	</form>
</body>
</html>