<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podra crear sus propios juegos!</p>

     <br></br>
    <footer>
     <nav align="center"> 
            <ul>  
            	<li><a href="/">Principal</a></li>
                <li><a href="https://github.com/sonsoleslp/ProyectoQuiz">  GITHUB   </a></li>
                <li> <a href="author">Créditos</a></li>                
            </ul>
        </nav>
      
     
    </footer>
  </body>
</html>
