<h2><%=user.username%></h2>
<%if(user.image){%>
<img id="prof" src ="/media/<%= user.image %>" ><p>
<% } else {%>
<img id="prof" src ="/images/user.png" ><p>
<%}%>

<p></p>
<p><%=user.description%></p>
<p><a  id ="pregu" href="/user/<%=user.id%>/favourites">Ver favoritos</a></p>

