

#bar{
display:block;
}

form{
	background-color: none; width: inherit;
}
#donutchart{
	display:none;
}
h2 span, section h3 {display: none;}
body {font-size: xx-large;}
footer, input, button {font-size:x-large; width: inherit;}
.quiz_img{float:none;}
#page-wrap:after {content:"Smartphone Layout"; font-size: small; color:grey;}