

#bar{
display:block;
font-size: 24px;
}

footer a{
	font-size: 12px;
}
form{
	background-color: none; width: inherit;
}
#donutchart{
	display:none;
}
h2 span, section h3 {display: none;}
body {font-size: xx-large;}
footer, input, button {font-size:x-large; width: inherit;}
.quiz_img{float:none;}
#page-wrap:after {content:"Smartphone Layout"; font-size: small; color:grey;}
.mapa{display:none;}

.video,.yo{
  max-width:80%;
  
}
input#login,input#password, input#preg, input#resp{
	width:80%;
}
#lista{
	
		max-width:100%;
		word-wrap: break-word;;
}
#fr{
	display:inherit;
	word-wrap: break-word;;
}
