@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(https://fonts.gstatic.com/s/karla/v5/Zi_e6rBgGqv33BWF8WTq8g.woff2) format('woff2'), url(https://fonts.gstatic.com/s/karla/v5/azR40LUJrT4HaWK28zHmVA.woff) format('woff');
}
html{
  font: 14px 'Karla', "Lucida Grande", Helvetica, Arial, sans-serif;
}
body {

  font: 14px 'Karla', "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {

  color: #E50142;
  text-decoration: none;

  color: #E5012C;
  text-decoration: none;
}

div{
	 text-align:center;
	 padding: 18px;
}

form, input{
    font: 14px 'Karla', "Lucida Grande", Helvetica, Arial, sans-serif;
  outline:none;
}



input:hover{
  font-weight:normal;

}

#main{

	margin:15px;
}

h2{
	color:#E50142;
}

li{
    background-color:inherit;
    display:inline-block;
    margin:15px;}

ul{ 
    background-color:inherit;
    margin:5px;}

nav{
	color:#E50142;
    display:block;
    margin-left: auto;
    margin-right: auto;
    visibility:visible;
    width:60%;
    text-align:center;
    border-top: 1px solid #e6e9eb;
    border-bottom: 1px solid #e6e9eb;
    background-color:white;
    bottom:0;
}

footer{
	bottom:0;
	position: fixed;

}

span{
  padding:6px;
  margin:6px;
}

#bar{
  font-size: 16px;
}
#bar:hover{
  color:#BEBEBE;
}
#pregu:hover{
  font-weight: bolder;

}
#pregunta_title{
  color:#202020;
  font-weight: bolder;
}



 span {
  margin: 0px 10px 0px 0px;
}

#ErrorMsgs {
  color:#f61; font-size:smaller;
}





button,#sss{
    margin: 0;
    padding: 5px 15px;
    font-weight: normal;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #E5012C; border-right:0px;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from( #E5012C), to(#e7274b));
    background: -moz-linear-gradient(top,  #E5012C,  #e7274b);
    border-radius: 5px 5px;
}
   
  button:hover,#sss:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#e7274b), to(#E5012C));
    background: -moz-linear-gradient(top,  #e7274b,  #E5012C);
  }
  /* Fixes submit button height problem in Firefox */
  button,#sss::-moz-focus-inner {
    border: 0;
  }

  #borrar{
    white-space: nowrap;
    display:inline;
  }
