@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(https://fonts.gstatic.com/s/karla/v5/Zi_e6rBgGqv33BWF8WTq8g.woff2) format('woff2'), url(https://fonts.gstatic.com/s/karla/v5/azR40LUJrT4HaWK28zHmVA.woff) format('woff');
}
body {

  font: 14px 'Karla', "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {

  color: #E50142;
  text-decoration: none;

  color: #E5012C;
  text-decoration: none;
}

div{
	 text-align:center;
	 padding: 18px;
}

table{

 
}

input{
  outline:none;
}


}

#main{

	margin:15px;
}

h2{
	color:#E50142;
}

li{
    background-color:inherit;
    display:inline-block;
    margin:15px;}

ul{ 
    background-color:inherit;
    margin:5px;}

nav{
	color:#E50142;
    display:block;
    margin-left: auto;
    margin-right: auto;
    visibility:visible;
    width:60%;
    text-align:center;
    border-top: 1px solid #e6e9eb;
    border-bottom: 1px solid #e6e9eb;
    background-color:white;
    bottom:0;
}

footer{
	bottom:0;
	position: fixed;

}

span{
  padding:6px;
  margin:6px;
}

#bar{
  font-size: 16px;
}
#bar:hover{
  color:#BEBEBE;
}
#preg:hover{
  font-weight: bolder;

}