
nav span { margin: 0px 20px 0px 0px;}

.quiz_img{height:300px;  max-width:700px; float:left; margin-left:15%;  }

footer {clear:both; display:block;}

#page-wrap:after {
	position:fixed;
	bottom:0;
	content:"Wide Layout";}



.video{
  width:533px;
  height:400px; 
}
